@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom,#a8bfce,
  #93a9b7,
  #7d93a1,
  #687d8a,
  #526774);
}


.countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: rgb(200, 200, 200);
  gap: 32px;
}


.title {
  grid-column: 4 span;
  text-align: center;
  font-size: 22px;
  color: antiquewhite;
}

h1 {
    text-align: top;
    font-size: 40px;
    color: antiquewhite;
    padding: 10px;

  }

  .banner {
    margin-bottom: 100px;
    text-align: center;
    position: relative;
  }

  .image {
    max-width: 500px;
    max-height: 300px;
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 10%;

    -webkit-transform: rotate(10deg);
            -moz-transform: rotate(10deg);
            -ms-transform: rotate(10deg);
            -o-transform: rotate(10deg);
            transform: rotate(10deg);

    
  }

  .image1 {
    max-width: 500px;
    max-height: 300px;
    border-radius: 20px;
    margin-left: 70%;
    margin-top: 10%;

    -webkit-transform: rotate(10deg);
            -moz-transform: rotate(10deg);
            -ms-transform: rotate(10deg);
            -o-transform: rotate(10deg);
            transform: rotate(10deg);

    
  }

  .image2 {
    max-width: 500px;
    max-height: 300px;
    border-radius: 20px;
    margin-left: 290%;
    margin-top: 10%;

    -webkit-transform: rotate(10deg);
            -moz-transform: rotate(10deg);
            -ms-transform: rotate(10deg);
            -o-transform: rotate(10deg);
            transform: rotate(10deg);

    
  }

  .image3 {
    max-width: 500px;
    max-height: 300px;
    border-radius: 20px;
    margin-left: 370%;
    margin-top: 10%;

    -webkit-transform: rotate(10deg);
            -moz-transform: rotate(10deg);
            -ms-transform: rotate(10deg);
            -o-transform: rotate(10deg);
            transform: rotate(10deg);

    
  }

  .image4 {
    max-width: 500px;
    max-height: 300px;
    border-radius: 20px;
    margin-left: 240%;
    margin-top: 10%;

    -webkit-transform: rotate(10deg);
            -moz-transform: rotate(10deg);
            -ms-transform: rotate(10deg);
            -o-transform: rotate(10deg);
            transform: rotate(10deg);

    
  }

  .image5 {
    max-width: 500px;
    max-height: 300px;
    border-radius: 20px;
    margin-left: 265%;
    margin-top: 10%;

    -webkit-transform: rotate(10deg);
            -moz-transform: rotate(10deg);
            -ms-transform: rotate(10deg);
            -o-transform: rotate(10deg);
            transform: rotate(10deg);

    
  }

  .image6 {
    max-width: 500px;
    max-height: 300px;
    border-radius: 20px;
    margin-left: 300%;
    margin-top: 10%;

    -webkit-transform: rotate(10deg);
            -moz-transform: rotate(10deg);
            -ms-transform: rotate(10deg);
            -o-transform: rotate(10deg);
            transform: rotate(10deg);

    
  }

  .container {
position: absolute;  
margin-bottom: 500px;  
  }

  .contimage {
  
    margin-top: 25%;  
      }


.box {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.value {
  font-size: 64px;
  font-weight: 700;
}

.name {
  font-size: 16px;
}

